.container {
display: flex;
flex-direction: column;
max-width: 880px;
margin: 0 auto;
padding-top: 45px;
padding-bottom: 60px;
}

@media (min-width: 320px) {
  .container {
  max-width: calc(282px + (880 - 282) * ((100vw - 320px) / (1280 - 320)));
  padding-top: calc(28px + (45 - 28) * ((100vw - 320px) / (1280 - 320)));
  padding-bottom: calc(36px + (60 - 36) * ((100vw - 320px) / (1280 - 320)));
  }
}
