.gallery__like {
  display: block;
  background: url(../../../image/white_heart.svg) white center/cover no-repeat;
  width: 22px;
  height: 19px;
  outline: none;
  border: none;
  flex-shrink: 0;
  transition: opacity .5s linear;
  cursor: pointer;
}

.gallery__like:hover {
  opacity: .5;
}
